{% extends 'base.html' %}
{% block content %}
<h1>Posts</h1><br><br>
{% if blogs|length == 0 %}
    <p>This is Clean Slate</p>
{% else %}
    {% for blog in blogs %}
        <div class = 'blogpost'>
            <article>
                <h2 class= 'title'><a href='/?q={{blog.id}}' >{{blog.title}}</a></h2><hr>
                <p class = 'blog'>{{blog.body}}</p>
            </article>
        </div>
    {% endfor %}
{% endif %}
<p>Getting Caffientated....after which more rants coming your way!</p>
{% endblock %}